
name: Scrape Oakland calls for service

on:
  schedule:
  - cron: "0 19 * * *"
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2
    - name: Install package manager for deps
      run: pipx install pipenv
    - uses: actions/setup-python@v2
      with:
        python-version: "3.11"
        cache: "pipenv"
    - name: Install deps
      run: pipenv install
    - name: Run that scraper, please
      run: pipenv run python scrape.py

    - name: Add and commit
      id: add_commit
      uses: EndBug/add-and-commit@v8
      with:
        committer_name: Automated
        committer_email: actions@users.noreply.github.com
        message: "Latest data ${{ `date -u` }}"
